$theme-colors:(
  primary: #735CD9,
  dark: black,
);

$featureFont: "Love Ya Like A Sister";

h1, h2, h3 {
  font-family: $featureFont;
}

header {
  nav {
    img {
      height: 30px;
    }
  }

  section {
    background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

  }
}






@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
